@model CoPlayV2.Models.SportSearchViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/sportSearch")
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAACEYfjelzNIkQ13RhtCxZleiENx0_4Jc&callback=initMap" type="text/javascript"></script>

<div class="background-main-div">
    <div class="container" align="center">
        <div class="text-center">
            <h2>Search Facility</h2>
            <p>Let's Play Here!</p>
            <hr />
        </div>
        <input type="hidden" value="@ViewBag.result" id="myHiddenVar" />
        @using (Html.BeginForm("Search", "SportSpots", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="text-center" align="center">

                <!--Drop down list for all sport names-->
                <h3>Choose a sport</h3>
                <center>
                    <div id="select1" class="mainselection" style="position:relative; align-self:center; align-items:center;font-size: 20px; font-weight: bold;">
                        @Html.EnumDropDownListFor(model => model.Sports.SportsName,
                            new { @class = "form-control" })
                    </div>
                </center>

                <h3>Choose a campus</h3>

                <center>
                    <div id="select2" class="mainselection" style="position:relative; align-self:center; align-items:center;font-size: 20px; font-weight: bold;">
                        <!--Drop down list for all campus-->

                        @Html.EnumDropDownListFor(model => model.Campus,
                            new { @class = "form-control" })
                    </div>
                    @Html.HiddenFor(model => model.lng)
                    @Html.HiddenFor(model => model.lat)


                </center>
                <br />
                <input id="SubmitSuburb" type="submit" value="Search facilities" class="button button1" />
            </div>
        }
    </div>
    <center>
        <strong style="color: crimson; font-size: 20px">
            @ViewBag.prompt
        </strong>
    </center>
    <!-- This is the div that will contain the Google Map -->

    <div class="container">
        <div class="row">
            <div id="center-wrap">
                <div id="map_canvas"></div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/facilityscripts")
