@model CoPlayV2.Models.MatchIndexViewModels
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ================================ SEARCH OPPONENT FLITER SECTION ============================== -->
<div style="align-self:center; background-image: url(../../Content/Images/wos_sportcollage2.jpg);background-repeat:no-repeat; background-size:100% 115%; position: page center; align-self: center;min-height: 650px">

    <section id="search" class="parallax-section" align="center">
        <div class="container" align="center">
            <div class="row" align="center">

                <div class="text-center">
                    <h2>Search Opponent</h2>
                    <p>We Find Match!</p>
                </div>
                <hr />
                
            @using (Html.BeginForm(actionName: "FindOpponents", controllerName: "Match", method: FormMethod.Post))
            {
                <div class="text-center" align="center">
                    <h3> Sports: </h3>
                    <center>
                        <div id="select1" class="mainselection">
                            @Html.EnumDropDownListFor(model => model.Sports.SportsName,new { @class = "form-control" }) 
                        </div>
                    </center>
                  
                    <h3>Skill level: </h3>
                    <center>
                        <div id="select2" style="position:relative; align-self:center; align-items:center;font-size: 20px; font-weight: bold;">
                            @Html.RadioButtonFor(model => model.Level.SportsLevel, "low") Beginner&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.Level.SportsLevel, "mid",new { @checked = true }) Medium &nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.Level.SportsLevel, "high") Professional&nbsp;&nbsp;
                        </div>
                    </center>
                    <br />
                    <input id="Match" type="submit" value="Match" class="button button1" />
                </div>
            }
            </div>
        </div>
    </section>
</div>
@Styles.Render("~/bundles/matchIndexCss")