@model CoPlayV2.Models.MatchIndexViewModels
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ================================ SEARCH OPPONENT FLITER SECTION ============================== -->
<div style="background-image: url(../../Content/Images/wos_sportcollage.jpg);position: page center; align-self:center">

    <div class="text-center">
        <h2>Search Opponent</h2>
        <p>Find your best sports opponent here</p>
    </div>
    <hr/>

    <section id="search" class="parallax-section" align="center">
        <div class="container" align="center">
            <div class="row" align="center">
                
            @using (Html.BeginForm(actionName: "FindOpponents", controllerName: "Match", method: FormMethod.Post))
            {
                <div class="text-center" align="center">
                    <h3> Sports: </h3>
                    <center>
                        <div id="select1" class="mainselection">
                            @Html.EnumDropDownListFor(model => model.Sports.SportsName,new { @class = "form-control" }) 
                        </div>
                    </center>
                      
                    <h3>Skill level: </h3>
                 
                        <div id="select2" >
                            Beginner:   @Html.RadioButtonFor(model => model.Level.SportsLevel, "Low") &nbsp;
                            Medium: @Html.RadioButtonFor(model => model.Level.SportsLevel, "Middle",new { @checked = true }) &nbsp;
                            Professional: @Html.RadioButtonFor(model => model.Level.SportsLevel, "High")&nbsp;
                        </div>
                    
                    <br />
                    <input id="Match" type="submit" value="Match" class="button button1" />
                </div>
            }
            </div>
        </div>
    </section>
</div>
@Styles.Render("~/bundles/matchIndexCss")