@model CoPlayV2.Models.MatchIndexViewModels
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/matchIndexCss")
<!-- ================================ SEARCH OPPONENT FLITER SECTION ============================== -->
<div class="background-main-div">   
     <section id="search" class="parallax-section" align="center">
        <div class="container" align="center">
            <div class="row" align="center">

                <div class="text-center">
                    <h2>Search Opponent</h2>
                    <p>We Find Match!</p>
                </div>
                <hr />
                
            @using (Html.BeginForm(actionName: "FindOpponents", controllerName: "Match", method: FormMethod.Post))
            {
                <div class="text-center" align="center">
                    <h3> Sports: </h3>
                    <center>
                        <div id="select1" class="mainselection">
                            @Html.EnumDropDownListFor(model => model.Sports.SportsName,new { @class = "form-control" }) 
                        </div>
                    </center>
                  
                    <h3>Skill level: </h3>
                    <center>
 
                        @* choice button group *@
                         <div class="form-group">
                            <div class="btn-group btn-group-lg" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    @Html.RadioButtonFor(model => model.Level.SportsLevel, "low")  
                                    Starter
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(model => model.Level.SportsLevel, "mid", new {@checked = true}) 
                                    Middle
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(model => model.Level.SportsLevel, "high") 
                                    Expert
                                </label>
                            </div>
                          </div>
                    </center>
                    <br />
                    <input id="Match" type="submit" value="Match" class="button button1" />
                </div>
            }
            </div>
        </div>
    </section>
</div>
