<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title - CoPlay</title>
    <link rel="icon" href="@Url.Content("~/Content/Images/icon.png")"/>
    @Styles.Render("~/bundles/layout/css")
    @Scripts.Render("~/bundles/scripts")
</head>

<body>

<!-- =========================PRE LOADER============================== -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>

<!-- =========================NAVIGATION SECTION============================== -->
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <!--This part darws a button used to expand collapsed content in mobile view-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- The left upper cornor of the website-->
            @*@Html.ActionLink(" ", "Index", "Home", null, new {@class = "navbar-brand logo-button" })*@
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <img src="/Content/Images/Coplay-logo.png" title="CoPlay" alt="COPLAY" />
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-navigation">
  
                <li>@Html.ActionLink("Match", "Index", "Match", null, new {@class = ""})</li>
                <li>@Html.ActionLink("Facility", "Index", "SportSpots", null, new {@class = ""})</li>
                <li>@Html.ActionLink("Clubs", "Index", "Club", null, new {@class = ""})</li>
                <li>@Html.ActionLink("About", "About", "Home", null, new {@class = ""})</li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div id="coplay-start-point"></div>
</div>

<!-- =========================Body SECTION============================== -->
<div id="wrap">
    <div id="main" class="clearfix">
        @RenderBody()
    </div>
</div>

<!-- =========================FOOTER SECTION============================== -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class="copyright-text">Copyright &copy; 2016 - Driver4T</p>
            </div>
        </div>
    </div>
</div>


<!-- =========================SCRIPTS============================== -->

@Scripts.Render("~/bundles/modernizr")
@RenderSection("scripts", required: false)

</body>
</html>