<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title - CoPlay</title>
    <link rel="icon" href="@Url.Content("~/Content/Images/icon.png")"/>

</head>


<body  data-target=".navbar-collapse" data-offset="50">
<!-- =========================PRE LOADER============================== -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>

<!-- =========================NAVIGATION SECTION============================== -->
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!-- The left upper cornor of the website-->
            @Html.ActionLink(" ","Index","Home", null, new{
                style = "background: url('" + Url.Content("~/Content/Images/Coplay 1.png") + "') center; display:block; height:80px; width:150px;"})
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "smoothScroll" })</li>
                <li>@Html.ActionLink("Match", "Index", "Match", null, new {@class = "smoothScroll"})</li>
                <li>@Html.ActionLink("Search stadium", "Index", "SportSpots", null, new {@class = "smoothScroll"})</li>
                <li>@Html.ActionLink("Search clubs", "Index", "Club", null, new {@class = "smoothScroll"})</li>
                <li>@Html.ActionLink("About", "About", "Home", null, new {@class = "smoothScroll"})</li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>
<!-- =========================Body SECTION============================== -->
<div id="wrap">
    <div id="main" class="clearfix">
        @RenderBody()
    </div>
</div>




<!-- =========================FOOTER SECTION============================== -->
<!--<footer style="background-image: url(../../Content/Images/footer-img.jpg)">
    <div class="row">
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12">
            <p class="copyright-text">&copy; 2016 - Powered by Driver4T</p>
        </div>
    </div>
</footer>-->
  <div id="footer" style="background-image: url(../../Content/Images/footer-img.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p class="copyright-text" style="color:#ffffff">Copyright &copy; 2016 - Driver4T</p>
                </div>
            </div>
        </div>
    </div>


<!-- =========================SCRIPTS============================== -->

@Styles.Render("~/bundles/layout/css")
@Scripts.Render("~/bundles/scripts")
@Scripts.Render("~/bundles/modernizr")
@RenderSection("scripts", required: false)
</body>
</html>