@using CoPlayV2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div id="login-panel-wrap">
    <div class="container">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-10">
            <h2 class="form-signin-heading">WELCOME, PLAYER!</h2>
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-signin", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                @*---------------------------------Username--------------------------------------*@

                @Html.LabelFor(m => m.Email, new {@class = "sr-only"})
                @Html.TextBoxFor(m => m.Email, new
                {
                    @class = "form-control",
                    type = "email",
                    placeholder = Html.DisplayNameFor(n => n.Email)
                })
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})


                @*---------------------------------password--------------------------------------*@

                @Html.LabelFor(m => m.Password, new {@class = "sr-only"})
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = Html.DisplayNameFor(n => n.Password)})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})


                @*---------------------------------Remember--------------------------------------*@
               
                @Html.CheckBoxFor(m => m.RememberMe ,new {@class="checkbox-style"})
                @Html.LabelFor(m => m.RememberMe, new {@class= "checkbox-style" })
                

                @*---------------------------------Buttons--------------------------------------*@
                <input type="submit" value="Sign in" class="btn btn-lg btn-primary btn-block"/>
                @Html.ActionLink("Register as a new user", "Register", null, new {@class = "btn btn-lg btn-primary btn-block"})
                @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new {@class = "btn btn-lg btn-primary btn-block"})
            }
        </div>
        <div class="col-md-4 col-xs-1"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/bundles/logincss")
}
